<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>PIXELARTOR</title>
		<link rel="shortcut icon" href="../res/favicon.ico" type="image/x-icon">
		<link rel="icon" href="../res/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../css/app.css" />
	</head>
	<body>

<!-- 		<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
		<script>if (window.module) module = window.module;</script> -->

		<!-- libs -->
		<script type="text/javascript" src="../js/render/core/enums.js"></script>
		<script type="text/javascript" src="../js/render/libs/three.min.js"></script>
		<script type="text/javascript" src="../js/render/libs/signals.js"></script>
		<script type="text/javascript" src="../js/render/libs/utils.js"></script>
		<script type="text/javascript" src="../js/render/libs/gif.js"></script>
		<script type="text/javascript" src="../js/render/libs/gif.worker.js"></script>
		<script type="text/javascript" src="../js/render/OrbitControls.js"></script>
		<script type="text/javascript" src="../js/render/GLTFLoader.js"></script>

		<!-- components -->
		<!-- <script type="text/javascript" src="../js/render/core/fileLoader.js"></script> -->
		<script type="text/javascript" src="../js/render/CopyShader.js"></script>
		<script type="text/javascript" src="../js/render/EffectComposer.js"></script>
		<script type="text/javascript" src="../js/render/RenderPass.js"></script>
		<script type="text/javascript" src="../js/render/ShaderPass.js"></script>
		<script type="text/javascript" src="../js/render/OutlinePass.js"></script>
		<script type="text/javascript" src="../js/render/core/config.js"></script>
		<script type="text/javascript" src="../js/render/core/loadinger.js"></script>
		<script type="text/javascript" src="../js/render/core/spriteframesRenderer.js"></script>
		<script type="text/javascript" src="../js/render/core/lights.js"></script>
		<script type="text/javascript" src="../js/render/core/freecamera.js"></script>
		<script type="text/javascript" src="../js/render/core/view3D.js"></script>
		<script type="text/javascript" src="../js/render/controls/animControls.js"></script>
		<script type="text/javascript" src="../js/render/controls/viewControls.js"></script>
		<script type="text/javascript" src="../js/render/controls/sizeControls.js"></script>
		<script type="text/javascript" src="../js/render/controls/groundControls.js"></script>
		<script type="text/javascript" src="../js/render/controls/lightHemiControls.js"></script>
		<script type="text/javascript" src="../js/render/controls/lightPointControls.js"></script>
		<script type="text/javascript" src="../js/render/controls/lightDirectControls.js"></script>
		<script type="text/javascript" src="../js/render/controls/outlineControls.js"></script>
		<script type="text/javascript" src="../js/render/controls/openFileControls.js"></script>
		<script type="text/javascript" src="../js/render/controls/exportControls.js"></script>
		<script type="text/javascript" src="../js/render/core/view2D.js"></script>
		<script type="text/javascript" src="../js/render/core/thumbnails.js"></script>
		<script type="text/javascript" src="../js/render/core/outline.js"></script>
		<script type="text/javascript" src="../js/render/app.js"></script>

	</body>
</html>
